.allimg{
    width: 300px;
    height: 300px;
    
}

#photo-template div{
background-color: #f1f1f1;
  width: 300px;
  height: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
  
 
}

main{
    display: flex;
    flex-flow: row-reverse wrap;
}
div{
   
    padding: 30px;
  
    margin-left: 100px;
    border-style: solid;
 
    margin-bottom: 20px;
    background-color: #e4d3cf;
    width: 300px;
    height: 400px;
    font-family: 'Work Sans', sans-serif;
    border-radius: 50px;
}


div:hover {
    opacity: 0.5;
    background-color: #b67162;
    transform: scale(1.1);
 }
 

select{
    margin-left: 650px;
    font-size: 25px;
    margin-bottom: 50px;
    background-color: #e2bcb7;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    color: #b67162;
  
}
button{ background-color: #e2bcb7;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    color: #b67162;
    padding: 10px;
    height: 70px;
    width: 100px;

}
#button1{
   
    padding: 16px;
    height: 100px;
    width: 100px;
}
#button2{
    
     padding: 16px;
    margin-left: 750px;
    height: 100px;
    width: 100px;
}
p{
    font-size: 15px;
    width: 250px;
    
}
h1{
    text-align: center;
    font-size: 60px;
    background-color:#B67162;
    color: #e4d3cf;
    font-family: 'Sansita Swashed', cursive;
    height: 100px;
}
footer{
    margin-top: 3500px;
text-align: center;
font-family: 'Work Sans', sans-serif;
font-size: 20px;}